/* BEM CSS 
Block
Element
Modifier
*/

* {
  border: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

.header {
  background-image: url("./images/header-image.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: center;
  background-size: 1024px;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
}

.intro {
  width: 50%;
}

.intro .intro-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #091133;
  margin-bottom: 20px;
}
.intro .intro-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  margin-bottom: 69px;
}

.intro .intro-button {
  display: flex;
  gap: 30px;
}

.woman-cellphone {
  padding: 110px 0px;
}

.woman-cellphone .container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.woman-cellphone .woman-cellphone-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: #091133;
}

.woman-cellphone .woman-cellphone-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  margin-bottom: 80px;
}

.woman-cellphone-features {
  display: flex;
  gap: 30px;
}

.woman-cellphone-features .woman-cellphone-features-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.woman-cellphone-features .woman-cellphone-features-description {
  color: #5d6970;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.intro-messages {
  padding: 120px 0px;
}

.intro-messages .container {
  display: flex;
  gap: 155px;
}

.intro-messages .intro-messages__title {
  color: #091133;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.intro-messages .intro-messages__description {
  color: #6F7CB2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.social-influencer {
  padding: 120px 0px;
}

.social-influencer .container {
  display: flex;
  gap: 95px;
}

.social-influencer .social-influencer__title {
  color: #091133;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.social-influencer .social-influencer__description {
  color: #6F7CB2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.mention {
  padding: 120px 0px;
}

.mention .container {
  display: flex;
  gap: 190px;
}

.mention .mention__title {
  color: #091133;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.mention .mention__description {
  color: #6F7CB2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.mention .container .button__primary {
  margin-top: 28px;
  font-size: 12px;
  height: 28px;
  width: 150px;
  padding: 0px;
}

.pricing {
  background-image: url('./images/pricing-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.pricing .container {
  display: flex;
  height: 100%;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-title{
  color: #091133;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  margin: 0px;
}

.pricing-description {
  color: #6F7CB2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  list-style: 26px;
}

.price{
  text-align: center;
  color: #222F65;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.price-description{
  text-align: center;
  color: #37447E;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
}

.pricing-commentary {
  color: #5D6970;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.pricing .container .button__primary {
  font-size: 12px;
  height: 28px;
  padding: 0px;
}

.footer {
  background-color: #E7ECFF;
  padding-top: 60px;
  padding-bottom: 32px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info .copywrite{
  color: #939EA4;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.footer-info .button__primary {
  font-size: 12px;
  height: 28px;
  width: 109px;
  padding: 0px;
}

.footer .footer-navbar{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #CDD1D4;
}

.footer-navbar .link {
  color: #929ECC;
}

.footer-social-media .social-media {
  margin-left: 34px;
}

.links {
  display: flex;
  gap: 60px;
  align-items: center;
}

.link {
  color: #505f98;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.logo {
  line-height: 38px;
  font-size: 26px;
  font-weight: 900;
  color: #37447e;
}

.button {
  font-weight: 500;
  width: 189px;
  font-size: 16px;
  line-height: 26px;
  padding: 5px 0;
  border: 2px solid #091133;
}

.button__primary {
  color: #ffffff;
  border-radius: 2px;
  background-color: #111b47;
}

.button__outlined {
  color: #091133;
  background-color: transparent;
}
