/* BEM CSS 
Block
Element
Modifier
*/

* {
  border: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

.header {
  background-image: url("./images/header-image.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: center;
  background-size: 1024px;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
}

.intro {
  width: 50%;
}

.intro .intro-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #091133;
  margin-bottom: 20px;
}
.intro .intro-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  margin-bottom: 69px;
}

.intro .intro-button {
  display: flex;
  gap: 30px;
}

.woman-cellphone {
  padding: 110px 0px;
}

.woman-cellphone .container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.woman-cellphone .woman-cellphone-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: #091133;
}

.woman-cellphone .woman-cellphone-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  margin-bottom: 80px;
}

.woman-cellphone-features {
  display: flex;
  gap: 30px;
}

.woman-cellphone-features .woman-cellphone-features-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.woman-cellphone-features .woman-cellphone-features-description {
  color: #5d6970;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.links {
  display: flex;
  gap: 60px;
  align-items: center;
}

.link {
  color: #505f98;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.logo {
  line-height: 38px;
  font-size: 26px;
  font-weight: 900;
  color: #37447e;
}

.button {
  font-weight: 500;
  min-width: 189px;
  font-size: 16px;
  line-height: 26px;
  padding: 5px 0;
  border: 2px solid #091133;
}

.button__primary {
  color: #ffffff;
  border-radius: 2px;
  background-color: #111b47;
}

.button__outlined {
  color: #091133;
  background-color: transparent;
}
